.character-details-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.character-details-card {
    box-shadow: 1px 0 6px var(--shadow-color);
    background-color: var(--primary-color);
    color: var(--text-color);
    min-width: 40rem;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
}

.character-details-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 0 3rem;
}

.status-alive {
    color: var(--active-color);
}

.status-dead {
    color: var(--inactive-color);
}