.character-card {
    background-color: cadetblue;
    color: beige;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 16%;
    padding: 1rem;
}
  
  .character-card__title {
    font-size: 1.6rem;
    font-weight: 600;
    
  }
  
  .character-card__title > a {
    color: beige;
  }
  
  .character-card__origin {
    
  }
  
  .character-card__img {
    
  }
  
  .character-card__item {
    font-size: 1.2rem;
    padding: 1rem;
  }
  
  .link {
    cursor: pointer;
    text-decoration: none;
  }
  
  .link:hover {
    color: orange;
  }